.task-self-container {
  border: 5px solid darkmagenta;
  border-radius: 6px;
  padding: 1rem;
  margin: 5px;
}

.main-container-tasks {
  width: 20vw;
  min-width: 18rem;
  display: flex;
  flex-direction: column;
}

.task-main-title, .task-status, .task-title-date {
  font-weight: bold;
  margin-right: 3px;
}

.line-through {
  text-decoration: line-through;
}

.low-priority {
  background-color: #ffffff;
}
.medium-priority {
  background-color: #ffd7b5;
}
.high-priority {
  background-color: #ffb38a;
}
.urgent-priority {
  background-color: #ff9248;
}
.highest-priority {
  background-color: #ff6700;
}

.border-blue {
  border: 5px solid blue;
}

.reset-btn {
  background-color: rgba(220, 20, 60, 0.6);
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem;
  transition: color 0.7s ease, background-color 0.8s ease-in-out;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: white;
  color: rgba(220, 20, 60, 0.6);
}

.app-container {
  display: flex;
  gap: 30px;
}

.main-container {
  display: flex;
  gap: 5rem;
}

.main-container-task-details{
  border: 5px solid #535bf2;
  border-radius: 5px;
  width: 40vw;
  padding: 0.5rem;
}